li {
    padding: 0px 4px 0px 4px;
}

.thumbnail {
    max-height: 64px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
#nav-items {
    position: relative;
    top: 18px;
    left: 750px;
}
.headshot {
    padding: 5px 0px 5px;
}

.proj-details-btn {
    position: relative;
    top: 29px;
}

.proj-details-btn:hover {
    color: blue;
    text-decoration: underline;
}

.project-image {
    max-width: 280px;
}

hr {
    margin: 10px;
}
h4 {
    padding-left: 10px;
    padding-right: 10px;
}

#personal {
    text-align: right;
}