body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
li {
    padding: 0px 4px 0px 4px;
}

.thumbnail {
    max-height: 64px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
#nav-items {
    position: absolute;
    top: 8px;
    left: 700px;
}
.nav-links:hover {
    background-color: rgba(97,122,139, 0.2) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-links:focus {
    background-color: rgba(97,122,139, 0.2) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headshot {
    
}

.proj-details-btn {
    position: relative;
    top: 29px;
    padding: 2px 5px 2px 5px;
    border: 1px solid;
    border-radius: 5px;
}

.proj-details-btn:hover {
    color: blue;
    text-decoration: underline;
    box-shadow: 1px 1px 1px;
}

.project-image {
    max-width: 280px;
}

hr {
    margin: 0px;
    border-color: #007ab9 !important;
}
h4 {
    padding-left: 10px;
    padding-right: 10px;
}

#personal {
    text-align: right;
}
.spaceless {
    padding: 0px;
    margin: 0px;
}
.addpadding {
    padding: 0px 10px 0px 10px;
}
.addmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.frame {
    background-color: white;
    border: 1px solid #007ab9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #617a8b;
    padding: 0px 30px 0px 30px;
}

.embed-responsive {
    padding-bottom:100%;
}